version: '3.4'

services:
  gateway:
    image: gateway
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 6688:6688
